*{
	box-sizing: border-box;
	
}

.main{
	font-family: Arial;
	font-size: 250%;
	text-align: center;

}

.box{
	width: 33.33%;
	float: left;
	margin: auto;
	border: 1px solid;
	margin: 2px;
}

p{
	font-family: sans-serif;
	padding: 5px;
}